.modalInfo{
  width: 506px;
  height:350px;
}

.notification{
  margin:50px;
}

.IconImage{
  display:flex;
  justify-content: center;
  margin-bottom:15px
}

.tittle{
  display:flex;
  justify-content: center;
  margin-top:10px;
  margin-bottom:15
}

.description{
  display:flex;
  justify-content: center;
  margin-top:10px;
  margin-bottom:15px;
  text-align:center
}

.notificationButton{
  display:flex;
  justify-content: center;
  margin-top:10px;
  margin-bottom:15px;
}
